* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.body {
    background: 
}

.container {
    background: #aaa;
    margin: 50px auto;
    padding: 10px;
    width: 75%;
    border: 5px solid #bada55;
    box-shadow: 0 0 40px #00000088;
    -moz-box-shadow: 0 0 40px #00000088;
    -webkit-box-shadow: 0 0 40px #00000088;
}

.form-field {
    text-align: center;
    padding: 20px;
}

.form-field input {
    border: 1 px solid #999;
    font-size: 24px;
    color: #666;
    padding: 10px 20px;
    width: 75%; 
    border-radius: 10px;

}

.list-container {
    background: #fff;
    padding: 20px;
}

.list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.list-container ul li {
    border: 1px solid #aaa; 
    margin: 10px;
    padding: 10px 20px;
    
}

.highlight {
   background: #ffc600;  
}


