@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:200');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    font-family: 'Ubuntu';
    color: rgb(240, 240, 240);
}

.calculator {
    width: 640px;
    height: 152px;    
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px 5px;
}

.calculator .display {
    height: 120px;
    padding-top: 4px;
    background: #d85858;
}

.calculator .display .queue {
    font-family: "Mukta Malar";
    font-size: 36px;
    line-height: 20px;
    height: 74px;
    width: 100%;
    text-align: right;
    color: #CCC;
    padding: 4px;
    overflow-y: scroll;
}

.calculator .display .input {
    font-family: 'Source Sans Pro';
    width: 100%;
    padding: 2px;
    height: 40px;
    font-size: 28px;
    text-align: right;
    color: #FAFAFA;
    background: transparent;
    border: 0px;
}

.calculator .buttons {
    display: grid;    
    grid-template-columns: repeat(10, 1fr);
    height: 30px;
}

.calculator .buttons .button {
    background: rgb(218, 182, 24);
    border-right: 1px solid #06063a;
    border-bottom: 1px solid #960f53;
    font-family: 'Roboto Mono';
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator .buttons .button.large {
    grid-column: span 2;

}

.calculator .buttons .button.orange {
    background: #F88C2A;
    color: #FEFEFE;
}
