@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
@import url('https://fonts.googleapis.com/css?family=Seymour+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #e4eeef;
}

h1 {
    font-family: 'Seymour One';
    color: #bada55;
    text-align: center;
    text-shadow: 2px 2px 2px #00000088;
    font-size: 4vw;
}

.container {
    width: 500px;
    height: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #afb7c3;
    border: 2px solid black;
    overflow: hidden;
}

.display {
    background: #eee9e9;
    overflow: hidden;
}

.fas {
    font-size: 35px;
    background: white;
    cursor: pointer;

    -moz-box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr)r;
    grid-gap: 3px;
    -moz-box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
}

.button {
    font-size: 19px;
    text-align: center;
    padding-top: 40px;
    border: 1px solid #094e0c;
    background-color: rgb(152, 224, 134);
}
